.navbar-container{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-tile{
    font-size: medium;
    font-weight: 600;
}

.navbar-tile:hover{
cursor: pointer;
background-color: rgb(200, 200, 200);
}