<main>
<header>
</header>
<section dir="rtl">
    <mat-grid-list cols="12" class="navbar-container">
        <mat-grid-tile colspan="1">
            <img src="assets/images/logo.png" class="LogoImage">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="navbar-tile" matRipple>
            <span>صفحه اصلی</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="navbar-tile" matRipple>
            <span>محصولات</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="navbar-tile" matRipple>
            <span>درباره ما</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" class="navbar-tile" matRipple>
            <span>تماس با ما</span>
        </mat-grid-tile>
    </mat-grid-list>
</section>
</main>